<div class="flex flex-col  h-full bg-zinc-700 overflow-hidden">
  <div class="">
    {{>_carduser}}
  </div>
  <div class="flex w-full  h-full" >
  <form id="form_submit"  class="flex items-center justify-center  flex-wrap  gap-3 p-4 bg-gray-50 dark:bg-gray-900 w-full h-full overflow-y-scroll">
    {{#if isAdmin}}
      {{#each docs }}
        {{>_cardadmin}}    
      {{/each}}
    {{else}}
      {{#each docs }}
        {{>_card}}    
      {{/each}}
    {{/if}}     
  </form>
  </div>
</div>

<script src="/js/home_view.js" type="module" defer></script>

