<div>
  <form action="" id="form">
    <input type="text" placeholder="email" name="email" />
    <input type="text" placeholder="username" name="username" />
    <input type="text" placeholder="password" name="password" />
    <button>Enviar</button>
    <hr />
    <div>"No estan validado los errores"</div>
  </form>
</div>
<script src="/js/register.js" defer></script>