<div>
  <form action="" id="form">
    <input type="text" placeholder="email" name="email" />
    <input type="text" placeholder="password" name="password" />
    <button>Enviar</button>
  </form>
  <hr />
  <a href="http://localhost:8080/view/user/register">Registrarse</a>
</div>
<script src="/js/login.js" defer type="module"></script>