<div class="overflow-hidden h-full"><div
    class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none"
  >
    <div
      class="relative mx-0 mt-4 flex items-center gap-4 overflow-hidden rounded-xl bg-transparent bg-clip-border pl-1 pt-0 pb-8 text-gray-700 shadow-none"
    >
      <img
        src="https://objetivoligar.com/wp-content/uploads/2017/03/blank-profile-picture-973460_1280.jpg"
        class="relative inline-block h-[58px] w-[58px] !rounded-full object-cover object-center"
      />
      <div class="flex w-full flex-col gap-0.5">
        <div class="flex items-center justify-between">
          <h5
            class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            {{username}}
          </h5>
        </div>
        <p
          class="block font-sans text-base font-light leading-relaxed text-blue-gray-900 antialiased"
        >
          Role:
          {{role}}
        </p>
      </div>
    </div>

  </div></div>