<div>
  <div>
    <form id="form_submit">
      {{#each producpars}}
        <li>
          <span>{{this}}</span>
          <button name="{{this.id}}">Agregar</button>
        </li>
      {{/each}}
    </form>
  </div>
</div>
<script src="/js/home_view.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{! <scriptnpsrc="/css/index.css"></script> }}
{{! <script src="/js/socket.js"></script> }}